{% extends "layout/base-fullscreen.html" %}
{% load django_bootstrap5 %}
{% block title %} Giriş Yap {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex bg-primary align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="card-header text-center pb-0">
                            <h2 class="h4">Giriş Yap</h2>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger alert-dismissible shadow-soft fade show"
                                         role="alert"><span
                                            class="alert-inner--icon"><span class="fas fa-fire"></span></span> <span
                                            class="alert-inner--text"><strong>Hata!</strong> {{ message }}</span>
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <form class="mt-4" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <!-- End of Form -->
                                <div class="d-block d-sm-flex justify-content-between align-items-center float-right mb-4">
                                    <div><a href="{% url "password_reset" %}" class="small text-facebook">Şifremi unuttum</a></div>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">Giriş Yap</button>
                            </form>

                            <a href="{% url "store:store_home" %}">
                                <button class="btn btn-block btn-primary mt-3">Vazgeç</button>
                            </a>

                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Üye Değilmisiniz ?
                                    <a href="{% url "accounts:register" %}" class="font-weight-bold">Üye Olun</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
