{% extends "layout/base-fullscreen.html" %}
{% load django_bootstrap5 %}
{% block title %} Şifre değiştirme başarılı {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex bg-primary align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="card-header text-center pb-0">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger alert-dismissible shadow-soft fade show"
                                         role="alert"><span
                                            class="alert-inner--icon"><span class="fas fa-fire"></span></span> <span
                                            class="alert-inner--text"><strong>Hata!</strong> {{ message }}</span>
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="card-body">
                            <h4 class="text-success">Parola sıfırlama tamamlandı</h4>
                            <p>Parolanız ayarlandı. Şimdi devam edebilir ve oturum açabilirsiniz.</p>

                            <a href="{% url "login" %}">
                                <button class="btn btn-block btn-primary mt-3">OTURUM AÇ</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}
