{% extends "layout/base-fullscreen.html" %}
{% load django_bootstrap5 %}
{% block title %} Kayıt Ol {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex bg-primary align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="card-header text-center pb-0">
                            <h2 class="mb-0 h5">Üye Ol</h2>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger alert-dismissible shadow-soft fade show"
                                             role="alert">
                                    {% else %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                                             role="alert">
                                    {% endif %}

                                <span class="alert-inner--icon">
                                    {% if message.tags == 'error' %}
                                        <span class="far fa-thumbs-down"></span>
                                    {% elif message.tags == 'success' %}
                                        <span class="far fa-thumbs-up"></span>
                                    {% else %}

                                    {% endif %}
                                </span>

                                <span class="alert-inner--text"><strong>{{ message }}. Giriş yapmak için <a
                                        href="{% url 'login' %}">TIKLAYIN</a></strong> </span>

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                {% endfor %}
                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="form-group">
                                    {% bootstrap_form form %}
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">Üye Ol</button>
                            </form>

                            <a href="{% url "store:store_home" %}">
                                <button class="btn btn-block btn-primary mt-3">Vazgeç</button>
                            </a>

                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Zaten Üyemisin ?
                                    <a href="{% url "login" %}" class="font-weight-bold">Giriş Yapın</a>
                                </span>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
