{% extends 'base/base.html' %}
{% block title %}Sepet{% endblock %}
{% load mathfilters %}
{% block content %}

    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50 mt-5">
                    <div class="m-l-25 m-r--38 m-lr-0-xl ">
                        <div class="wrap-table-shopping-cart ">
                            {% if object_list %}
                                <caption><b>Sepetim, {{ request.user }}</b></caption>
                                <table class="table-shopping-cart">
                                    <tr class="table_head ">
                                        <th class="column-1">Ürün</th>
                                        <th class="column-2"></th>
                                        <th class="column-3">Fiyat</th>
                                        <th class="column-4 ">Miktar</th>
                                        <th class="column-5">Toplam</th>
                                        <th class="column-5">Sil</th>
                                    </tr>
                                    {% for cart in object_list %}
                                        <tr class="table_row">
                                            <td class="column-1">
                                                <div class="how-itemcart1">
                                                    <img src="{{ cart.product.image1.url }}" alt="IMG">
                                                </div>
                                            </td>
                                            <td class="column-2"><a
                                                    href="{% url 'store:product_detail' cart.product.category.title.lower|slugify cart.product.slug %}">
                                                {{ cart.product.title }}
                                            </a></td>
                                            <td class="column-3">$ {{ cart.product.price }}</td>
                                            <td class="column-4">
                                                <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                                    </div>

                                                    <input class="mtext-104 cl3 txt-center num-product" type="number"
                                                           name="num-product1" value="{{ cart.quantity }}">

                                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            {% with sayi=cart.quantity price=cart.product.price %}
                                                <td class="column-5">${{ sayi|mul:price|floatformat:2 }}</td>
                                            {% endwith %}
                                            <td class="column-5">
                                                <a href="{% url 'carts:delete_item' request.user.id cart.product.product_code %}">
                                                    <i class="fa fa-trash text-danger fa-2x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                                    <div class="flex-w flex-m m-r-20 m-tb-5">
                                        <div class="flex-c-m stext-101 cl2 size-118 p-lr-15 trans-04 m-tb-5">
                                            Toplam: {{ total|floatformat:2 }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p class="txt-center">Sepetinizde ürün bulunmuyor</p>
                            {% endif %}
                        </div>


                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text"
                                       name="coupon" placeholder="Kupon Kodu">

                                <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                    Kuponu Uygula
                                </div>
                            </div>

                            <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                Ödemeye Geç
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}