{% extends 'layout/base.html' %}
{% load static %}
{% load thumbnail %}
{% load hitcount_tags %}


{% block title %}
    {% if '?search' in request.get_full_path %}
        Arama sonuçları
    {% elif 'marka' in request.get_full_path %}
        {{ brand|title }} markalı ürünler
    {% else %}
        {{ category.title|title }} Kategorisi
    {% endif %}
{% endblock %}

{% block content %}

    <main class="container p-5" style="margin-top: 2%">

        <div class="row justify-content-center text-center pt-6">

            <div class="col-lg-12 col-xl-12">
                <h1 class="display-2 mb-2">

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible shadow-soft fade show"
                                     role="alert">
                            {% else %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                                     role="alert">
                            {% endif %}

                        <span class="alert-inner--icon">
                                        {% if message.tags == 'error' %}
                                            <span class="far fa-thumbs-down"></span>
                                        {% elif message.tags == 'success' %}
                                            <span class="far fa-thumbs-up"></span>
                                        {% else %}

                                        {% endif %}
                                    </span>

                        <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        {% endfor %}
                    {% endif %}

                    <form method="get">
                        <div class="input-group justify-content-lg-start" style="margin-top: 4%;">
                            {% if "makale" in request.path %}
                                <input class="form-control" id="exampleInputIcon2"
                                       placeholder="Makale kategorisi yada Başlık"
                                       aria-label="Input group"
                                       type="text" name="search" value="{{ request.GET.search }}">
                            {% elif "magaza" or "/product-kategori" or '' in request.get_absolute_url %}
                                <input class="form-control" id="exampleInputIcon2"
                                       placeholder="Kategori, Başlık veya Marka"
                                       aria-label="Input group"
                                       type="text" name="search" value="{{ request.GET.search }}">
                            {% endif %}

                            <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </span>
                            </div>
                        </div>
                    </form>

                    </div>
                </h1>
            </div>

            <div class="row g-5">

                <div class="col-12 mt-3">

                    <h3 class="pb-4 mb-4 fst-italic border-bottom mt-2">
                        {% if '?search' in request.get_full_path %}
                            Arama sonuçları
                        {% elif 'marka' in request.get_full_path %}
                            {{ brand|title }} markalı ürünler
                        {% else %}
                            {{ category.title|title }} Kategorisi
                        {% endif %}
                    </h3>

                    <div class="row">

                        {% if 'makale' in request.get_full_path %}
                            {% if article_category_list %}
                                {% for post in article_category_list %}

                                    <div class="col-12 col-md-4 mb-4">
                                        <div class="card bg-primary border-light shadow-soft">
                                            <div class="card-header p-3">
                                                {% thumbnail post.cover "1920x1080" crop="center" as im %}
                                                    <img src="{{ im.url }}" class="card-img-top rounded">
                                                {% endthumbnail %}
                                            </div>

                                            <div class="card-body pt-2">
                                                <div class="media d-flex align-items-center justify-content-between">

                                                    <div class="d-flex align-items-center">
                                                        <a href="{% url 'article:article_category' post.category.title|slugify %}">
                                                    <span class="small" title="Kategori" data-toggle="tooltip">
                                                    <span class="badge badge-danger">{{ post.category.title|title }}</span>
                                                </span>
                                                        </a>

                                                    </div>

                                                    <div class="d-flex align-items-center">
                                                <span class="small" title="Yayınlanma tarihi" data-toggle="tooltip">
                                                    <span class="far fa-calendar-alt mr-1"></span>
                                                    <span class="badge badge-info">{{ post.created.date }}</span>
                                                </span>
                                                    </div>
                                                </div>

                                                {% if post.title|length < 24 %}
                                                    <a href="{% url 'article:article_detail' post.pk post.category|slugify post.slug %}">
                                                        <h3 class="h5 card-title mt-4 mb-5" title="{{ post.title }}"
                                                            data-toggle="tooltip">{{ post.title }}</h3>
                                                    </a>
                                                {% elif post.title|length > 24 %}
                                                    <a href="{% url 'article:article_detail' post.pk post.category|slugify post.slug %}">
                                                        <h3 class="h5 card-title mt-4" title="{{ post.title }}"
                                                            data-toggle="tooltip">{{ post.title|truncatechars:50 }}</h3>
                                                    </a>
                                                {% endif %}

                                                <a href="{% url 'article:article_detail' post.pk post.category.title|slugify post.slug %}"
                                                   class="btn btn-primary btn-sm"> Ayrıntılar &raquo; </a>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            {% else %}

                                {% if 'search' in request.get_full_path %}

                                    <div class="col-12 col-md-4 mx-auto">

                                        <p class="font-weight-bold text-danger">Arama kriterlerinize uygun makale
                                            bulunamadı.</p>

                                    </div>

                                {% else %}

                                    <div class="col-12 col-md-4">
                                        <div class="card bg-primary border-light shadow-soft">
                                            <div class="card-header p-3">
                                                <img src="{% static 'img/blog-article-1.jpg' %}"
                                                     class="card-img-top rounded"
                                                     alt="Designer desk">
                                            </div>
                                            <div class="card-body pt-2">
                                                <div class="media d-flex align-items-center justify-content-between">
                                                    <div class="post-group">
                                                        <a href="#" data-toggle="tooltip" data-placement="top" title=""
                                                           data-original-title="23k followers">
                                                            <img class="avatar-sm mr-2 img-fluid rounded-circle"
                                                                 src="{% static 'img/profile-picture-1.jpg' %}"
                                                                 alt="Jo portrait">
                                                            Jo
                                                            J. Moore
                                                        </a>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="small"><span
                                                                class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                                                    </div>
                                                </div>
                                                <h3 class="h5 card-title mt-4">We partnered up with Google</h3>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up
                                                    the
                                                    bulk of the card's content.</p>
                                                <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <div class="card bg-primary border-light shadow-soft">
                                            <div class="card-header p-3">
                                                <img src="{% static 'img/blog-article-2.jpg' %}"
                                                     class="card-img-top rounded"
                                                     alt="Designer desk">
                                            </div>
                                            <div class="card-body pt-2">
                                                <div class="media d-flex align-items-center justify-content-between">
                                                    <div class="post-group">
                                                        <a href="#" data-toggle="tooltip" data-placement="top" title=""
                                                           data-original-title="23k followers">
                                                            <img class="avatar-sm mr-2 img-fluid rounded-circle"
                                                                 src="{% static 'img/profile-picture-2.jpg' %}"
                                                                 alt="Jo portrait">
                                                            Jo
                                                            J. Moore
                                                        </a>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="small"><span
                                                                class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                                                    </div>
                                                </div>
                                                <h3 class="h5 card-title mt-4">We partnered up with Google</h3>
                                                <p class="card-text">Some quick example text to build on the card title
                                                    and
                                                    make
                                                    up
                                                    the
                                                    bulk of the card's content.</p>
                                                <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}

                            {% endif %}

                        {% elif "product-marka" in request.get_full_path %}
                            {% if product_brand_list %}
                                {% for product in product_brand_list %}
                                    <div class="col-12 col-md-4">
                                        <div class="card bg-primary border-light shadow-soft mb-4">

                                            <div class="card-header p-3">
                                                {% thumbnail product.image "200x200" crop="center" as img %}
                                                    <img src="{{ img.url }}" class="card-img-top rounded"
                                                         alt="{{ img.name }}">
                                                {% endthumbnail %}
                                            </div>

                                            <div class="card-body pt-2">

                                                <div class="media d-flex align-items-center justify-content-between">

                                                    <div class="post-group">

                                                    </div>


                                                    <div class="d-flex align-items-center ml-2">

                                                <span class="small">
                                                    <span class="fa fa-arrow-up text-success mr-2 animate-up-2"
                                                          title="Bu ürünü {{ product.likes.count }} kişi beğendi"
                                                          data-toggle="tooltip"></span>
                                                    {{ product.likes.count }}
                                                </span>
                                                        <span class="small"><span
                                                                class="fa fa-arrow-down text-danger mr-2 ml-2 animate-down-2"
                                                                title="Bu ürünü {{ product.dislikes.count }} kişi beğenmedi"
                                                                data-toggle="tooltip"></span>{{ product.dislikes.count }}</span>
                                                        <span class="small"><span
                                                                class="fa fa-heart text-danger mr-2 ml-2 animate-down-2"
                                                                title="Bu ürünü {{ product.wish_list.count }} kişi istek listesine ekledi"
                                                                data-toggle="tooltip"></span>{{ product.wish_list.count }}</span>
                                                        <span class="small"><span
                                                                class="far fa-comments mr-2 ml-2"
                                                                title="Bu ürüne {{ product.product_comment.count }} kişi yorum yaptı"
                                                                data-toggle="tooltip"></span>{{ product.product_comment.count }}</span>
                                                        <span class="small"><span
                                                                class="far fa-eye mr-2 ml-2 text-facebook"
                                                                title="Bu ürünü {% get_hit_count for product %} kişi inceledi"
                                                                data-toggle="tooltip"></span>{% get_hit_count for product %}</span>
                                                    </div>
                                                </div>



                                                {% if product.title|length < 24 %}

                                                    <a href="{% url 'store:product_detail' product.pk product.brand|slugify product.slug %}">
                                                        <h3 class="h5 card-title mt-4 mb-5" title="{{ product.title }}"
                                                            data-toggle="tooltip">{{ product.title }}</h3>
                                                    </a>
                                                {% elif product.title|length > 24 %}
                                                    <a href="{% url 'store:product_detail' product.pk product.brand|slugify product.slug %}">
                                                        <h3 class="h5 card-title mt-4" title="{{ product.title }}"
                                                            data-toggle="tooltip">
                                                            {{ product.title|truncatechars:50 }}</h3>
                                                    </a>
                                                {% endif %}

                                                {% if product.is_discount %}
                                                    <span class="h6 mb-0 text-gray text-through mr-2">
                                                    {{ product.price }} TL
                                                </span>
                                                    <span class="h5 mb-0 text-danger">{{ product.discount_price }} TL </span>
                                                {% else %}
                                                    <span class="h5 mb-0 text-gray">{{ product.price }} TL </span>
                                                {% endif %}

                                                <div>

                                                    <div class="float-right mt-3">

                                                        {% if request.user in product.wish_list.all %}

                                                            <a class="btn btn-icon-only btn-primary btn-pill text-danger"
                                                               data-toggle="tooltip"
                                                               href="{% url 'store:wish_list' product.pk %}"
                                                               title="İstek listesinden çıkar">

                                                            <span aria-hidden="true" class="far fa-heart"
                                                                  title="Bu ürünü {{ product.wish_list.count }} kişi istek listesine ekledi">
                                                            </span>
                                                            </a>

                                                        {% else %}

                                                            <a class="btn btn-icon-only btn-primary btn-pill text-danger"
                                                               data-toggle="tooltip"
                                                               href="{% url 'store:wish_list' product.pk %}"
                                                               title="İstek listesine ekle">
                                                            <span aria-hidden="true"
                                                                  class="fa fa-solid fa-heart-circle-plus"
                                                                  title="Bu ürünü {{ product.wish_list.count }} kişi istek listesine ekledi">
                                                            </span>
                                                            </a>
                                                        {% endif %}
                                                    </div>

                                                    <a class="btn btn-icon-only btn-primary btn-pill text-gray mt-3"
                                                       data-toggle="tooltip"
                                                       href="{% url 'store:add_cart' product.pk request.session.session_key %}"
                                                       title="Sepete ekle">
                                                        <span class="fas fa-cart-plus text-small mx-auto "></span>
                                                    </a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="align-items-lg-center h4 text-danger mx-auto">Ürün Bulunamadı</p>
                            {% endif %}
                        {% else %}
                            {% if product_category_list %}
                                {% for product in product_category_list %}
                                    <div class="col-12 col-md-4">
                                        <div class="card bg-primary border-light shadow-soft mb-4">

                                            <div class="card-header p-3">
                                                {% thumbnail product.image "200x200" crop="center" as img %}
                                                    <img src="{{ img.url }}" class="card-img-top rounded"
                                                         alt="{{ img.name }}">
                                                {% endthumbnail %}
                                            </div>

                                            <div class="card-body pt-2">

                                                <div class="media d-flex align-items-center justify-content-between">

                                                    <div class="post-group">

                                                    </div>


                                                    <div class="d-flex align-items-center ml-2">

                                                <span class="small">
                                                    <span class="fa fa-arrow-up text-success mr-2 animate-up-2"
                                                          title="Bu ürünü {{ product.likes.count }} kişi beğendi"
                                                          data-toggle="tooltip"></span>
                                                    {{ product.likes.count }}
                                                </span>
                                                        <span class="small"><span
                                                                class="fa fa-arrow-down text-danger mr-2 ml-2 animate-down-2"
                                                                title="Bu ürünü {{ product.dislikes.count }} kişi beğenmedi"
                                                                data-toggle="tooltip"></span>{{ product.dislikes.count }}</span>
                                                        <span class="small"><span
                                                                class="fa fa-heart text-danger mr-2 ml-2 animate-down-2"
                                                                title="Bu ürünü {{ product.wish_list.count }} kişi istek listesine ekledi"
                                                                data-toggle="tooltip"></span>{{ product.wish_list.count }}</span>
                                                        <span class="small"><span
                                                                class="far fa-comments mr-2 ml-2"
                                                                title="Bu ürüne {{ product.product_comment.count }} kişi yorum yaptı"
                                                                data-toggle="tooltip"></span>{{ product.product_comment.count }}</span>
                                                        <span class="small"><span
                                                                class="far fa-eye mr-2 ml-2 text-facebook"
                                                                title="Bu ürünü {% get_hit_count for product %} kişi inceledi"
                                                                data-toggle="tooltip"></span>{% get_hit_count for product %}</span>
                                                    </div>
                                                </div>



                                                {% if product.title|length < 24 %}

                                                    <a href="{% url 'store:product_detail' product.pk product.brand|slugify product.slug %}">
                                                        <h3 class="h5 card-title mt-4 mb-5" title="{{ product.title }}"
                                                            data-toggle="tooltip">{{ product.title }}</h3>
                                                    </a>
                                                {% elif product.title|length > 24 %}
                                                    <a href="{% url 'store:product_detail' product.pk product.brand|slugify product.slug %}">
                                                        <h3 class="h5 card-title mt-4" title="{{ product.title }}"
                                                            data-toggle="tooltip">
                                                            {{ product.title|truncatechars:50 }}</h3>
                                                    </a>
                                                {% endif %}

                                                {% if product.is_discount %}
                                                    <span class="h6 mb-0 text-gray text-through mr-2">
                                                    {{ product.price }} TL
                                                </span>
                                                    <span class="h5 mb-0 text-danger">{{ product.discount_price }} TL </span>
                                                {% else %}
                                                    <span class="h5 mb-0 text-gray">{{ product.price }} TL </span>
                                                {% endif %}

                                                <div>

                                                    <div class="float-right mt-3">

                                                        {% if request.user in product.wish_list.all %}

                                                            <a class="btn btn-icon-only btn-primary btn-pill text-danger"
                                                               data-toggle="tooltip"
                                                               href="{% url 'store:wish_list' product.pk %}"
                                                               title="İstek listesinden çıkar">

                                                            <span aria-hidden="true" class="far fa-heart"
                                                                  title="Bu ürünü {{ product.wish_list.count }} kişi istek listesine ekledi">
                                                            </span>
                                                            </a>

                                                        {% else %}

                                                            <a class="btn btn-icon-only btn-primary btn-pill text-danger"
                                                               data-toggle="tooltip"
                                                               href="{% url 'store:wish_list' product.pk %}"
                                                               title="İstek listesine ekle">
                                                            <span aria-hidden="true"
                                                                  class="fa fa-solid fa-heart-circle-plus"
                                                                  title="Bu ürünü {{ product.wish_list.count }} kişi istek listesine ekledi">
                                                            </span>
                                                            </a>
                                                        {% endif %}
                                                    </div>

                                                    <a class="btn btn-icon-only btn-primary btn-pill text-gray mt-3"
                                                       data-toggle="tooltip"
                                                       href="{% url 'store:add_cart' product.pk request.session.session_key %}"
                                                       title="Sepete ekle">
                                                        <span class="fas fa-cart-plus text-small mx-auto "></span>
                                                    </a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="align-items-lg-center h4 text-danger">Ürün Bulunamadı</p>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% include "include/paginator.html" %}

                </div>

            </div>

        </div>

    </main>

{% endblock %}