{% extends 'layout/base.html' %}
{% load static %}
{% load thumbnail %}
{% load hitcount_tags %}
{% block title %} İstek Listem {% endblock %}

{% block content %}

    <main class="container p-5" style="margin-top: 10%">

        <div class="row justify-content-center text-center pt-3">

            <div class="col-lg-12 col-xl-12 " style="margin-top: -11%">
                <h1 class="display-2 mb-2">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible shadow-soft fade show"
                                     role="alert">
                            {% else %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible shadow-soft fade show"
                                     role="alert">
                            {% endif %}

                        <span class="alert-inner--icon">
                                        {% if message.tags == 'error' %}
                                            <span class="far fa-thumbs-down"></span>
                                        {% elif message.tags == 'success' %}
                                            <span class="far fa-thumbs-up"></span>
                                        {% else %}

                                        {% endif %}
                                    </span>

                        <span class="alert-inner--text"><strong>{{ message }}</strong> </span>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        {% endfor %}
                    {% endif %}

                    </div>

                </h1>
            </div>

            <div class="row g-5">

                <div class="col-md-12">

                    <div class="pb-3 mb-2">
                        <div class="pb-2 border-bottom mt-4" style="margin-right: -10px">
                            <span class="h4">İstek Listem
                                <i class="badge badge-info badge-md h2">{{ wish_list.count }}</i>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        {% if wish_list %}
                            <table class="table table-responsive shadow-soft rounded">
                                <tr>
                                    <th class="border-0" scope="col" id="class">Ürün Kodu</th>
                                    <th class="border-0" scope="col" id="teacher">Ürün</th>
                                    <th class="border-0" scope="col" id="teacher">Birim Fiyat</th>

                                </tr>

                                {% for wish in wish_list %}
                                    <tr>

                                        <td>{{ wish.product_code }}</td>

                                        <th>
                                            <a href="{% url "store:product_detail" wish.pk wish.brand|slugify wish.slug %}"
                                               title="Ürüne git" data-toggle="tooltip">
                                                {{ wish.title }}
                                            </a>
                                        </th>

                                        {% if wish.discount %}
                                            <td>{{ wish.discount_price }}</td>
                                        {% else %}
                                            <td>{{ wish.price }}</td>
                                        {% endif %}

                                        <td class="table-responsive">{{ wish.quantity }}</td>
                                        <td>
                                            <a href="{% url "store:remove_wish_list" wish.pk %}">
                                                <button class="btn btn-primary btn-sm float-left" title="İstek listemden Çıkar"
                                                        data-toggle="tooltip">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </button>
                                            </a>
                                        </td>
                                    <tr>
                                {% endfor %}


                            </table>
                        {% else %}
                            <p class="mx-auto text-danger h4">İstek listeniz boş</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </main>

{% endblock %}