<form method="get">
    <div class="input-group justify-content-lg-start mx-auto"
         style="-moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;">
        {% if 'makale' in request.path %}
            <input class="form-control" title="Arama Çubuğu" data-toggle="tooltip"
                   placeholder="Kategori veya Başlık"
                   type="text" name="search" value="{{ request.GET.search }}"
                   style="-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;">
        {% else %}
            <input class="form-control" title="Arama Çubuğu" data-toggle="tooltip"
                   placeholder="Kategori, Başlık veya Marka"
                   type="text" name="search" value="{{ request.GET.search }}"
                   style="-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;">
        {% endif %}

    </div>
</form>